In [9]:
import pandas as pd
import os
import glob

In [17]:
# import csv to explore data
df1 = pd.read_csv('data/JC-201903-citibike-tripdata.csv')
df1.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [30]:
# convert startime column to datetime format
# https://stackoverflow.com/questions/51898826/converting-object-column-in-pandas-dataframe-to-datetime
df['starttime'] = pd.to_datetime(df['starttime'], dayfirst=True)
df['stoptime'] = pd.to_datetime(df['stoptime'], dayfirst=True)
df.dtypes

starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
year                                int64
age                                 int64
dtype: object

In [28]:
# extract year from startime col and calculate age for each user
df['year'] = df['starttime'].dt.year
df['age'] = df['year'] - df['birth year']

In [44]:
df

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,year,age
tripduration,,,,,,,,,,,,,,,,
306,2019-03-01 06:47:08.211,2019-03-01 06:52:14.715,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1,2019,30
123,2019-03-01 07:30:53.022,2019-03-01 07:32:56.777,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1,2019,53
328,2019-03-01 08:18:30.403,2019-03-01 08:23:59.059,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2,2019,48
95,2019-03-01 11:04:47.202,2019-03-01 11:06:22.813,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1,2019,34
169,2019-03-01 11:51:29.417,2019-03-01 11:54:19.212,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1,2019,48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
916,2019-03-29 13:38:36.175,2019-03-29 13:53:53.010,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717733,-74.043845,29277,Subscriber,1988,1,2019,31
661,2019-03-29 15:29:18.751,2019-03-29 15:40:20.251,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,-74.071262,26235,Subscriber,1983,2,2019,36
577,2019-03-30 13:43:09.209,2019-03-30 13:52:46.714,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,29596,Subscriber,1988,1,2019,31
585,2019-03-31 08:33:21.520,2019-03-31 08:43:06.752,3694,Jackson Square,40.711130,-74.078900,3195,Sip Ave,40.730897,-74.063913,26192,Subscriber,1988,1,2019,31
914,2019-03-31 14:59:32.398,2019-03-31 15:14:46.848,3694,Jackson Square,40.711130,-74.078900,3185,City Hall,40.717733,-74.043845,29634,Subscriber,1993,2,2019,26

In [54]:
# solution for importing and joining multiple csvs here:  https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe
all_files = glob.glob(os.path.join("data", "*.csv"))
frame = pd.concat((pd.read_csv(f)) for f in all_files)
frame

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,2020-04-01 01:06:20.6300,2020-04-01 01:30:17.9680,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,2020-04-01 05:02:42.0570,2020-04-01 05:07:06.1260,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,2020-04-01 06:20:28.1190,2020-04-01 06:24:42.1380,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,2020-04-01 06:33:30.5170,2020-04-01 06:40:40.1990,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,2020-04-01 06:38:32.9220,2020-04-01 06:51:58.2050,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43741,673,2019-07-31 23:39:13.1800,2019-07-31 23:50:26.6520,3681,Grand St,40.715178,-74.037683,3277,Communipaw & Berry Lane,40.714358,-74.066611,26284,Subscriber,1987,1
43742,161,2019-07-31 23:41:24.1110,2019-07-31 23:44:05.4090,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,29570,Subscriber,1998,1
43743,310,2019-07-31 23:47:27.3940,2019-07-31 23:52:37.4870,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,-74.071959,26237,Subscriber,1977,1
43744,137,2019-07-31 23:59:29.9300,2019-08-01 00:01:47.1970,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,-74.035483,29121,Subscriber,1993,1
43745,463,2019-07-31 23:59:54.9470,2019-08-01 00:07:37.9750,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,-74.044247,29259,Subscriber,1988,1

In [46]:
frame.describe()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude,bikeid,birth year,gender
count,2.485040e+05,248504.000000,248504.000000,248504.000000,248504.000000,248504.000000,248504.000000,248504.000000,248504.000000,248504.000000
mean,1.093443e+03,3290.386750,40.722528,-74.046609,3286.868984,40.721874,-74.045554,34275.427212,1979.279295,0.960049
std,1.267563e+04,169.103665,0.007292,0.011401,175.771408,0.115751,0.210371,7476.199672,10.484516,0.652184
min,6.100000e+01,3183.000000,40.709651,-74.083639,157.000000,0.000000,-74.083639,14578.000000,1888.000000,0.000000
25%,2.580000e+02,3194.000000,40.717733,-74.050990,3192.000000,40.717733,-74.050656,29246.000000,1970.000000,1.000000
50%,4.270000e+02,3209.000000,40.721525,-74.043991,3206.000000,40.721124,-74.043845,29626.000000,1981.000000,1.000000
75%,8.600000e+02,3276.000000,40.727224,-74.038051,3275.000000,40.727224,-74.038051,42314.000000,1988.000000,1.000000
max,2.423337e+06,3792.000000,40.748716,-74.032108,4282.000000,40.848282,0.000000,55298.000000,2004.000000,2.000000

In [55]:
frame.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [56]:
# convert startime column to datetime format
# https://stackoverflow.com/questions/51898826/converting-object-column-in-pandas-dataframe-to-datetime
frame['starttime'] = pd.to_datetime(frame['starttime'], dayfirst=True)
frame['stoptime'] = pd.to_datetime(frame['stoptime'], dayfirst=True)

In [57]:
frame['start_year'] = frame['starttime'].dt.year
frame['age'] = frame['start_year'] - frame['birth year']

In [58]:
# extract year from startime col and calculate age for each user
# frame['start_year'] = frame['starttime'].dt.year
frame['start_month'] = frame['starttime'].dt.month
frame['start_day'] = frame['starttime'].dt.day
frame['stop_year'] = frame['stoptime'].dt.year
frame['stop_month'] = frame['stoptime'].dt.month
frame['stop_day'] = frame['stoptime'].dt.day

In [43]:
frame['age'] = frame['start_year'] - df['birth year']

ValueError: cannot reindex from a duplicate axis

In [59]:
frame.dtypes

tripduration                        int64
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
start_year                          int64
age                                 int64
start_month                         int64
start_day                           int64
stop_year                           int64
stop_month                          int64
stop_day                            int64
dtype: object

In [60]:
frame

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,usertype,birth year,gender,start_year,age,start_month,start_day,stop_year,stop_month,stop_day
0,1437,2020-04-01 01:06:20.630,2020-04-01 01:30:17.968,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,...,Customer,2002,2,2020,18,4,1,2020,4,1
1,264,2020-04-01 05:02:42.057,2020-04-01 05:07:06.126,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,...,Subscriber,1963,2,2020,57,4,1,2020,4,1
2,254,2020-04-01 06:20:28.119,2020-04-01 06:24:42.138,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,...,Subscriber,1981,1,2020,39,4,1,2020,4,1
3,429,2020-04-01 06:33:30.517,2020-04-01 06:40:40.199,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,...,Subscriber,1964,1,2020,56,4,1,2020,4,1
4,805,2020-04-01 06:38:32.922,2020-04-01 06:51:58.205,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,...,Subscriber,1965,1,2020,55,4,1,2020,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43741,673,2019-07-31 23:39:13.180,2019-07-31 23:50:26.652,3681,Grand St,40.715178,-74.037683,3277,Communipaw & Berry Lane,40.714358,...,Subscriber,1987,1,2019,32,7,31,2019,7,31
43742,161,2019-07-31 23:41:24.111,2019-07-31 23:44:05.409,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,...,Subscriber,1998,1,2019,21,7,31,2019,7,31
43743,310,2019-07-31 23:47:27.394,2019-07-31 23:52:37.487,3195,Sip Ave,40.730897,-74.063913,3678,Fairmount Ave,40.725726,...,Subscriber,1977,1,2019,42,7,31,2019,7,31
43744,137,2019-07-31 23:59:29.930,2019-08-01 00:01:47.197,3199,Newport Pkwy,40.728745,-74.032108,3638,Washington St,40.724294,...,Subscriber,1993,1,2019,26,7,31,2019,8,1
43745,463,2019-07-31 23:59:54.947,2019-08-01 00:07:37.975,3199,Newport Pkwy,40.728745,-74.032108,3203,Hamilton Park,40.727596,...,Subscriber,1988,1,2019,31,7,31,2019,8,1